body {
  font-family: "inter", sans-serif;
}

.container-box {
  margin-top: 20px;
  display: block;
  background-color: #f7f9fc;
}

.title {
  margin-bottom: 30px;
  display: block;
}

.h2-title {
  font-size: 1.25em;
  font-family: "Inter", sans-serif;
  margin: 0;
  font-weight: 700;
}

.h5-paraph {
  color: #7b1ea2;
  font-family: "inter", sans-serif;
  margin: 15px 0 0 0;
  font-size: 16px;
  line-height: 1.334;
}

.graph-item-title {
  margin: 15px 0 0 15px;
  display: inline-block;
}

.graph-item {
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grid-item-graph {
  background-color: white;
  margin-bottom: 10px;
}
