.wrapper {
  height: 350px;
  position: relative;
  margin: 50px;
}
.graphContainer {
  height: 400px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}
.secondGraph {
  height: 350px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 4;
}
.App-dark {
  background-color: #1a2138;
}
